@*@model IEnumerable<LojaDesapega10.Models.Produto>*@
@model LojaDesapega10.Models.ProdutoCategoriaViewModel

@{
    ViewData["Title"] = "Inicial";
}

<h1>Página Inicial</h1>

<p>
    <a asp-action="Create">Anunciar produto</a>
</p>

<form asp-controller="Produtos" asp-action="Index" method="get">
    <p>
        <select asp-for="ProdutoCategoria" asp-items="Model.Categoria">
            <option value="">All</option>
        </select>

        Nome: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Procurar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produtos[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos[0].Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos[0].Categoria)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Produtos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
